body{
    background-color: antiquewhite;
    margin:0;
}
.banner{
    display:flex;
    justify-content: space-between;
    align-items:center;
    left: 0;
    right: 0;
    top: 0;
    padding-left:5%;
    padding-right:5%;
    background-color: rgba(135,206,235,0.4);
    position: absolute;
    background-size:100%
}
.banner .links{ 
    display:flex;
}
.banner ul{
   list-style-type: none; 
   display: flex;
   gap: 5px;
}
.logo img{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
.header{
    background-color: rgba(135,206,235,0.4);
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.header img{
    display: flex;
    width: 400px;
    height :200px;
}
.header h4{
    font-weight:bold;
    font-size:25px;
}
.Information{
    font-size: 36px;
    font-weight: 900;
    display:flex;
    justify-content: center;
}

.puffinry{
    display: flex;
    min-width: none;
    justify-content: space-around;
    padding: 38px;
    gap: 34px;
    text-align: center;
}
.puffinry img{
    height: 350px;
    width: 250px;
    
    border-width: 5px;
    border-color: purple;
    border-radius: 5px;
}
