body{
    background-color: antiquewhite;
    margin:0;
}
.banner{
    display:flex;
    justify-content: space-between;
    align-items:center;
    left: 0;
    right: 0;
    top: 0;
    padding-left:5%;
    padding-right:5%;
    background-color: rgba(135,206,235,0.4);
    position: absolute;
    background-size:100%
}
.banner .links{ 
    display:flex;
}
.banner ul{
   list-style-type: none; 
   display: flex;
   gap: 5px;
}
.logo img{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
.header{
    background-color: rgba(135,206,235,0.4);
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.header img{
    display: flex;
    width: 400px;
    height :200px;
}
.header h4{
    font-weight:bold;
    font-size:25px;
}
.Information{
    font-size: 36px;
    font-weight: 900;
    display:flex;
    justify-content: center;
}

.puffinry{
    display: flex;
    min-width: none;
    justify-content: space-around;
    padding: 38px;
    gap: 34px;
    text-align: center;
}

.puffinry img{
    height: 350px;
    width: 250px;
    border-style:groove;
    border-width: 5px;
    border-color: purple;
    border-radius: 40px;
    transition: opacity 1s;
    opacity: 0.5;
}
.puffinry img:hover{
    transition: opacity 1s;
    opacity: 1.0
}

.Inspiration{
    display: flex;
    justify-content: center;
    background-color: gray;
    opacity: 0.3;
    font-size: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.Inspiration:hover{
    transition: opacity 2s;
    opacity: 1;
}

.Inspiration .author{
    flex: 1;
    justify-self: flex-end;
}

.CalltoAction{
    background-color: rgb(123,211,121);
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 20px;
    border-style: dotted;
    border-width: 3px;
    border-radius: 10px;
}
.CalltoAction h5{
    font-size: 20px;
}
.CalltoAction p{
    font-size: 12px;
}
.CalltoAction .author{
    display:flex;
    justify-content:  right;
}
.CalltoAction button{
    background-color: rgb(123,211,121);
    border-radius: 10px;
    border-width: 5px;
}

footer{
    display:flex;
    padding-left:15%;
    padding-right:15%;
    align-items: center;
    background-color: darkgoldenrod;
    font-size: 9px;
}